$font-family: sans-serif;

$light-color: #F5F7F5;
$dark-color: #593240;
$mid-color: #B67D92;
$other-color-1: #F3D1A1;
$other-color-2: #E58F7F;

body {
    font: 12pt $font-family;
    display: flex;
    justify-content: center;
    background-color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark-color;
}

a, a:visited {
    color: $mid-color;
}

a:hover {
    color: $dark-color;
}

#inner-body {
    max-width: 60em;
    width: 100%;
}

header {
    border-bottom-width: 0.1em;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-style: dotted;

    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    display: flex;
    justify-content: space-between;
}

nav {
    display: inline;
}

nav a {
    padding-left: 0.5em;
}

main {
    padding-left: 1em;
    padding-right: 1em;
}

main li {
    padding-bottom: 0.4em;
}

.article-summary-block p {
    display: inline;
}

.article-summary-table time {
    font-weight: bold;
    padding-right: 1em;
}

.article-byline {
    text-align: right;
    float: right;
    margin-top: 0;
}

.article-byline .author {
    font-style: italic;
}

tt {
    background-color: #eee;
    hyphens: none;
}

.figures {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.figure {
    border-style: solid;
    border-radius: 0.75em;
    border-width: 0.1em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-top: 0.9em;
    padding-bottom: 0;
    margin: 0.75em;
    text-align: left;
    font-size: 10pt;

    background-color: $dark-color;
    border-color: $dark-color;
    color: $light-color;
}

.footnote-reference {
    vertical-align: super;
    font-size: 8pt;
}

.footnote {
    font-size: 10pt;
}

.highlight, .literal-block {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 0.75em;
}

.highlighttable, .highlight, .literal-block {
    background: #eeeedd;
    width: 90%;
}

.highlighttable {
    padding-left: 1em;
    margin-left: 1em;
}

// perldoc theme
pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #eeeedd; }
.highlight .c { color: #228B22 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight .ch { color: #228B22 } /* Comment.Hashbang */
.highlight .cm { color: #228B22 } /* Comment.Multiline */
.highlight .cp { color: #1e889b } /* Comment.Preproc */
.highlight .cpf { color: #228B22 } /* Comment.PreprocFile */
.highlight .c1 { color: #228B22 } /* Comment.Single */
.highlight .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #00688B; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #B452CD } /* Literal.Number */
.highlight .s { color: #CD5555 } /* Literal.String */
.highlight .na { color: #658b00 } /* Name.Attribute */
.highlight .nb { color: #658b00 } /* Name.Builtin */
.highlight .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight .no { color: #00688B } /* Name.Constant */
.highlight .nd { color: #707a7c } /* Name.Decorator */
.highlight .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #008b45 } /* Name.Function */
.highlight .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00688B } /* Name.Variable */
.highlight .ow { color: #8B008B } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #B452CD } /* Literal.Number.Bin */
.highlight .mf { color: #B452CD } /* Literal.Number.Float */
.highlight .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight .sa { color: #CD5555 } /* Literal.String.Affix */
.highlight .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight .sc { color: #CD5555 } /* Literal.String.Char */
.highlight .dl { color: #CD5555 } /* Literal.String.Delimiter */
.highlight .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight .se { color: #CD5555 } /* Literal.String.Escape */
.highlight .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #008b45 } /* Name.Function.Magic */
.highlight .vc { color: #00688B } /* Name.Variable.Class */
.highlight .vg { color: #00688B } /* Name.Variable.Global */
.highlight .vi { color: #00688B } /* Name.Variable.Instance */
.highlight .vm { color: #00688B } /* Name.Variable.Magic */
.highlight .il { color: #B452CD } /* Literal.Number.Integer.Long */
