<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% assets filters="pyscss,cssmin", output="css/style.min.css", "style.scss" %}
        <link rel="stylesheet" href="/{{ ASSET_URL }}">
        {% endassets %}
        <title>{% block title %}{% endblock%}</title>
    </head>
    <body>
        <div id="inner-body">
            <header>
                <a href="/">nitori.org</a>
                <nav>
                    <a href="/">Link 1</a>
                    <a href="/">Link 2</a>
                    <a href="/">Link 3</a>
                </nav>
            </header>

            <main>
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>
