<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/theme/avatar.png" />
        {% assets filters="libsass,cssmin", output="css/style.min.css", "style.scss" %}
        <link rel="stylesheet" href="/{{ ASSET_URL }}">
        {% endassets %}
        <link rel="alternate" type="application/rss+xml" href="/rss.xml">
        <title>nitori.org :: {% block title %}{% endblock%}</title>
    </head>
    <body>
        <div id="inner-body">
            <header>
                <span class="icon"><a href="/"><img class="rotater" src="/theme/little-flower.svg" width="40" alt="A flower" /></a></span>
                <nav>
                    <a href="/">Home</a>
                    <a href="/pages/projects/">Projects</a>
                    <a href="/pages/contact/">Contact</a>
                </nav>
            </header>

            <main>
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>
