{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="body-block">
    <h1>Welcome to my website!</h1>
    <p>
        Hi! I'm Jennifer, and this is my website. I don't post on it often, but
        there are some pages and blog posts about things I find neat or
        interesting 💖
    </p>
</div>
<div class="body-block">
<h1>Pages</h1>
<ul>
    <li><a href="/pages/projects/">Projects that I've worked on</a></li>
    <li><a href="/pages/contact/">My contact info, get in touch!</a></li>
    <li>Media I like:
        <ul>
            <li><a href="/pages/books/">Books</a></li>
        </ul>
    </li>
    <li><a href="/pages/tech/">Programs and technology I use</a></li>
</ul>
</div>

<div class="body-block">
<h1>Posts</h1>

<table class="article-summary-table">
{% for article in articles_page.object_list %}
<tr>
<td>
    <time>{{ article.date.strftime("%Y-%m-%d") | replace("-", "&#x2011;") }}</time>
</td>
<td class="article-summary-block">
    <p>
        <a href="{{ article.url }}">{{ article.title }}</a> - 
    </p>
    {{ article.summary }}
</td>
</tr>
{% endfor %}
</table>
</div>

<div class="body-block buttons">
    <span class="button">
        <a href="https://plasticdino.neocities.org/graphics" target="_blank">
            <img src="/theme/buttons/girlbutton.gif" alt="Girl" />
        </a>
    </span>
    <span class="button">
        <a href="https://plasticdino.neocities.org/graphics" target="_blank">
            <img src="/theme/buttons/queer.png"
                 alt="You're telling me a queer coded this website" />
        </a>
    </span>
    <span class="button">
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
            <img src="/theme/buttons/getfirefox.gif"
                 alt="Get Firefox" />
        </a>
    </span>
    <span class="button">
        <img src="/theme/buttons/transrights.png"
             alt="Trans Rights Now" />
    </span>
    <span class="button">
        <a href="https://lu.tiny-universes.net/index2.html" target="_blank">
            <img src="/theme/buttons/friendship.png"
                 alt="Believe in the radical power of friendship" />
        </a>
    </span>
</div>
{% endblock %}

